/* CSS Document */
.back{
	border-radius: 50%;
	background: #fff;
	background-size: 10%;
	position: fixed;
	top: 50px;
	left: 30px;
	width: 50px;
	height: 50px;
	z-index: 1000;
	text-align: center;
	line-height: 50px;
}
.bg1{
	height:1000px;
	width: 100%;
	background: url(../image/yn/yz.jpg) no-repeat;
	background-size: 100%;
}
.bg2{
	height:1000px;
	width: 100%;
	background: url(../image/yn/dl.jpg) no-repeat;
	background-size: 100%;
}
.bg3{
	height:1000px;
	width: 100%;
	background: url(../image/yn/xlw.jpg) no-repeat;
	background-size: 100%;
}
.bg4{
	height:1000px;
	width: 100%;
	background: url(../image/yn/ttw.jpg) no-repeat;
	background-size: 100%;
}
.bg-blur {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(15px);
	-webkit-transition:all 2s;
}
.bg-blur2 {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(15px);
	-webkit-transition:all 2s;
}
.bg-blur3 {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(15px);
	-webkit-transition:all 2s;
}
.bg-blur4 {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(15px);
	-webkit-transition:all 2s;
}
.div2{
	position: absolute;
	z-index: 100;
	width:40%;
	height: 200px;
	background: rgba(0,0,0,0.36);
	color: #C0BBBB;
	left: 30%;
	top: 400px;
	text-align: center;
	padding: 30px;
	font-size: 17px;
	opacity: 0;
	transition:all 2s;
    -webkit-transition:all 1s;
	}
.div3{
	position: absolute;
	z-index: 100;
	width:40%;
	height: 200px;
	background: rgba(0,0,0,0.36);
	color: #C0BBBB;
	left: 30%;
	top: 1400px;
	text-align: center;
	padding: 30px;
	font-size: 17px;
	opacity: 0;
	transition:all 2s;
    -webkit-transition:all 1s;
	}
.div4{
	position: absolute;
	z-index: 100;
	width:40%;
	height: 200px;
	background: rgba(0,0,0,0.36);
	color: #C0BBBB;
	left: 30%;
	top: 2400px;
	text-align: center;
	padding: 30px;
	font-size: 17px;
	opacity: 0;
	transition:all 2s;
    -webkit-transition:all 1s;
	}
.div5{
	position: absolute;
	z-index: 100;
	width:40%;
	height: 200px;
	background: rgba(0,0,0,0.36);
	color: #C0BBBB;
	left: 30%;
	top: 3400px;
	text-align: center;
	padding: 30px;
	font-size: 17px;
	opacity: 0;
	transition:all 2s;
    -webkit-transition:all 1s;
	}
.p2{
	
}